<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>testCamera</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>testPhoto</string>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>accelerometer</string>
		<string>gyroscope</string>
		<string>magnetometer</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>testMicro</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>testLocation</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>testLocationAlways</string>
</dict>
</plist>
